<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
<meta charset="UTF-8" />

<title th:text="${titulo}"></title>

</head>
<body>

<h3 th:text="${titulo}"></h3>

	<form th:action="@{/form}" method="POST">

		<div>
			<label for="username">Username</label>
			<div>
				<input name="username" id="username" type="text" th:value="${usuario.username}"/>
			</div>
			<div th:if="${error != null && error.containsKey('username') }" th:text="${error.get('username')}"></div>
		</div>
		
		<div>
			<label for="password">Password:</label>
			<div>
				<input name="password" id="password" type="password"/>
			</div>
			<div th:if="${error != null && error.containsKey('password') }" th:text="${error.password}"></div>
		</div>
		
		<div>
			<label for="email">Email:</label>
			<div>
				<input name="email" id="email" type="text" th:value="${usuario.email}"/>
			</div>
			<div th:if="${error != null && error.containsKey('email') }" th:text="${error.email}" ></div>
		</div>
		
		<button type="submit">Enviar</button>

	</form>

</body>
</html>

